<table class="table table-striped">
    <tbody> <!-- ciao sono matteo -->
        <tr>
            <th scope="col">Nome</th>
            <td> <p>{{codice["name"]}}</p> </td>
        </tr>
        <tr>
            <th scope="col">Cognome</th>
            <td> <p>{{codice["surname"]}}</p> </td>
        </tr>
        <tr>
            <th scope="col">Data di nascita</th>
            <td> <!--passare da preventivo--> </td>
        </tr>
        <tr>
            <th scope="col">Comune di nascita</th>
            <td> <!--passare da preventivo--> </td>
        </tr>
        <tr>
            <th scope="col">Sesso</th>
            <td> <!--passare da preventivo--> </td>
        </tr>
        <tr>
            <th scope="col">Codice Fiscale</th>
            <td> <!--passare da preventivo--> </td>
        </tr>
        <tr>
            <th scope="col">Titolo di studio</th>
            <td> <!--passare da preventivo--> </td>
        </tr>
        <tr>
            <th scope="col">Professione</th>
            <td> <!--passare da preventivo--> </td>
        </tr>
        <tr>
            <th scope="col">Email</th>
            <td> <!--passare da matches--> </td>
        </tr>
        <tr>
            <th scope="col">Cellulare</th>
            <td> <!--passare da preventivo--> </td>
        </tr>
        <tr>
            <th scope="col">Fumatore</th>
            <td> <!--passare da preventivo--> </td>
        </tr>
        <tr>
            <th scope="col">Altezza</th>
            <td> <!--passare da preventivo--> </td>
        </tr>
        <tr>
            <th scope="col">Peso</th>
            <td> <!--passare da preventivo--> </td>
        </tr>
        <tr>
            <th scope="col">Codice Prodotto</th>
            <td> <p>{{codice["codice_prodotto"]}}</p> </td>
        </tr>
        <tr>
            <th scope="col">Codice Polizza</th>
            <td> <p>{{codice["codice_polizza"]}}</p> </td>
        </tr>
        <tr>
            <th scope="col">Capitale assicurato</th>
            <td> <!--passare da preventivo--> </td>
        </tr>
        <tr>
            <th scope="col">Durata Polizza</th>
            <td> <!--passare da preventivo--> </td>
        </tr>
        <tr>
            <th scope="col">Mensilità dovuta</th>
            <td> <!--passare da web services--> </td>
        </tr>
        <tr>
            <th scope="col">Satus</th>
            <td> <p>{{codice["status"]}}</p> </td>
        </tr>
    </tbody>
  </table>