<table class="table table-striped">
    <tbody> <!-- ciao sono matteo -->
        <tr>
            <th scope="col">Nome</th>
            <td> <p>{{this.userDisplay.name}}</p> </td>
        </tr>
        <tr>
            <th scope="col">Cognome</th>
            <td> <p>{{this.userDisplay.surname}}</p> </td>
        </tr>
        <tr>
            <th scope="col">Data di nascita</th>
            <td>{{this.userDisplay.birthdate}}</td>
        </tr>
        <tr>
            <th scope="col">Comune di nascita</th>
            <td>{{this.userDisplay.birth_place}}</td>
        </tr>
        <tr>
            <th scope="col">Sesso</th>
            <td>{{this.userDisplay.sesso}}</td>
        </tr>
        <tr>
            <th scope="col">Codice Fiscale</th>
            <td>{{this.userDisplay.codice_fiscale}} </td>
        </tr>
        <tr>
            <th scope="col">Titolo di studio</th>
            <td>{{this.userDisplay.titolo_studio}}</td>
        </tr>
        <tr>
            <th scope="col">Professione</th>
            <td>{{this.userDisplay.professione}} </td>
        </tr>
        <tr>
            <th scope="col">Email</th>
            <td>{{this.userDisplay.email}}</td>
        </tr>
        <tr>
            <th scope="col">Cellulare</th>
            <td>{{this.userDisplay.telephone}}</td>
        </tr>
        <tr>
            <th scope="col">Fumatore</th>
            <td>{{this.preventivoDisplay.fumatore}}</td>
        </tr>
        <tr>
            <th scope="col">Altezza</th>
            <td> {{this.userDisplay.altezza}} </td>
        </tr>
        <tr>
            <th scope="col">Peso</th>
            <td> {{this.userDisplay.peso}} </td>
        </tr>
        <tr>
            <th scope="col">Codice Prodotto</th>
            <td> <p>{{codice["codice_prodotto"]}}</p> </td>
        </tr>
        <tr>
            <th scope="col">Codice Polizza</th>
            <td> <p>{{codice["cod_prev"]}}</p> </td>
        </tr>
        <tr>
            <th scope="col">Capitale assicurato</th>
            <td>{{this.preventivoDisplay.capitale}}</td>
        </tr>
        <tr>
            <th scope="col">Durata Polizza</th>
            <td>{{this.preventivoDisplay.durata}} </td>
        </tr>
        <tr>
            <th scope="col">Mensilità dovuta</th>
            <td> <!--passare da web services--> </td>
        </tr>
        <tr>
            <th scope="col">Satus</th>
            <td> <p>{{this.preventivoDisplay.status}}</p> </td>
        </tr>
    </tbody>
  </table>
<div *ngIf="this.preventivoDisplay.status=='pending'">
    <button type="button" (click)="approvaRifiuta(true)" class="btn btn-success">Approva</button>
<button type="button" (click)="approvaRifiuta(false)" class="btn btn-danger">Rifiuta</button>
</div>
