<div style="padding-top: 20px;">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Codice Prodotto</th>
      <th scope="col">Codice Preventivo</th>
      <th scope="col">Status</th>
      <th scope="col">Email</th>
      <th scope="col">Nome</th>
      <th scope="col">Cognome</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of matchList">
          <td>{{item.cod_prodotto}}</td>
          <td>{{item.cod_prev}}</td>
          <td>{{item.status}}</td>
          <td>{{item.email}}</td>
          <td>{{item.name}}</td>
          <td>{{item.surname}}</td>
          <td><button type="button" class="btn btn-primary btn-sm" [routerLink]="['/gestionepreventivo']"
            [queryParams]="{codice_prodotto: item.cod_prodotto, cod_prev: item.cod_prev, status: item.status, email: item.email, name: item.name, surname: item.surname}">Apri preventivo</button></td>
      </tr>
  </tbody>
</table>
</div>