<div class="container px-4 py-5">
    <h1 style="color:rgb(24, 94, 148); text-align: center;">Il profilo istituzionale</h1>
      <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
        <div class="d-flex flex-column align-items-start gap-2">
          <p class="text-muted" >La Società Reale Mutua di Assicurazioni è la più grande Compagnia assicurativa italiana costituita in forma di mutua.
              Autorizzata all’esercizio dell’assicurazione, nelle varie forme e in tutti i rami danni e vita, il suobusiness riguarda l’offerta di servizi assicurativi e di soluzioni innovative per individui, famiglie, imprese e professionisti.
          </p>
          <p class="text-muted">
              Nata nel 1828, Reale Mutua ha percorso da allora quasi due secoli di storia; un lungo cammino fatto di professionalità, affidabilità e innovazione, caratteristiche che ancora oggi fanno della Società un punto di riferimento nel proprio mercato.
              La missione della Società è strettamente legata alla sua natura mutualistica: porre sempre i Soci/assicurati al centro delle proprie attenzioni, garantendo loro qualità e certezza delle prestazioni, attraverso il costante impegno di persone competenti e professionali.</p>
              <p class="text-muted">
              Ecco qualche dato quantitativo per comprendere meglio il mondo di Reale Mutua, con qualche numero che ci aiuta a descrivere la nostra realtà e i nostri risultati economici.
          </p>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div  class="d-flex flex-column gap-2" class="tiles">
              <div class="tiles_text">
                  <h2 class="fw-semibold mb-0" >1.4 MLN</h2>
                  <h5 class="text-muted" >Soci assicurati</h5>
              </div>
            </div>
          <div class="d-flex flex-column gap-2" class="tiles">
            <h2 class="fw-semibold mb-0">365</h2>
            <h5 class="text-muted">Agenzie</h5>
          </div>
          <div class="d-flex flex-column gap-2" class="tiles">
            <h2 class="fw-semibold mb-0">1125</h2>
            <h5 class="text-muted">Dipendenti</h5>
          </div>
          <div class="d-flex flex-column gap-2" class="tiles">
            <h2 class="fw-semibold mb-0">92.4 MLN</h2>
            <h5 class="text-muted">Risultato netto di esercizio in €</h5>
          </div>
        </div>
      </div>
    </div>
