<div class="container px-4 py-5">
    <h1 style="color:rgb(24, 94, 148); text-align: center;">Il profilo istituzionale</h1>
      <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
        <div class="d-flex flex-column align-items-start gap-2">
          <p class="text-muted" >La Società Reale Mutua di Assicurazioni è la più grande Compagnia assicurativa italiana costituita in forma di mutua.
              Autorizzata all’esercizio dell’assicurazione, nelle varie forme e in tutti i rami danni e vita, il suobusiness riguarda l’offerta di servizi assicurativi e di soluzioni innovative per individui, famiglie, imprese e professionisti.
          </p>
          <p class="text-muted">
              Nata nel 1828, Reale Mutua ha percorso da allora quasi due secoli di storia; un lungo cammino fatto di professionalità, affidabilità e innovazione, caratteristiche che ancora oggi fanno della Società un punto di riferimento nel proprio mercato.
              La missione della Società è strettamente legata alla sua natura mutualistica: porre sempre i Soci/assicurati al centro delle proprie attenzioni, garantendo loro qualità e certezza delle prestazioni, attraverso il costante impegno di persone competenti e professionali.</p>
              <p class="text-muted">
              Ecco qualche dato quantitativo per comprendere meglio il mondo di Reale Mutua, con qualche numero che ci aiuta a descrivere la nostra realtà e i nostri risultati economici.
          </p>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div  class="d-flex flex-column gap-2" class="tiles">
              <div class="tiles_text">
                  <h2 class="fw-semibold mb-0" >1.4 MLN</h2>
                  <h5 class="text-muted" >Soci assicurati</h5>
                  <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-person-video2" viewBox="0 0 16 16">
                    <path d="M10 9.05a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                    <path d="M2 1a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2ZM1 3a1 1 0 0 1 1-1h2v2H1V3Zm4 10V2h9a1 1 0 0 1 1 1v9c0 .285-.12.543-.31.725C14.15 11.494 12.822 10 10 10c-3.037 0-4.345 1.73-4.798 3H5Zm-4-2h3v2H2a1 1 0 0 1-1-1v-1Zm3-1H1V8h3v2Zm0-3H1V5h3v2Z"/>
                  </svg>
              </div>
            </div>
          <div class="d-flex flex-column gap-2" class="tiles">
            <h2 class="fw-semibold mb-0">365</h2>
            <h5 class="text-muted">Agenzie</h5>
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
              <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
            </svg>
          </div>
          <div class="d-flex flex-column gap-2" class="tiles">
            <h2 class="fw-semibold mb-0">1125</h2>
            <h5 class="text-muted">Dipendenti</h5>
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
              <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
              <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
            </svg>
          </div>
          <div class="d-flex flex-column gap-2" class="tiles">
            <h2 class="fw-semibold mb-0">92.4 MLN</h2>
            <h5 class="text-muted">Risultato netto di esercizio in €</h5>
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-cash-stack" viewBox="0 0 16 16">
              <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1H1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
              <path d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2H3z"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
