<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <table class="table table-striped">
            <thead>

            </thead>
            <tbody>
                <tr>
                    <th scope="col">Email</th>
                    <td>
                        <p>{{this.userLogged.email}}</p>
                    </td>
                </tr>
                <tr>
                    <th scope="col">Password</th>
                    <td>
                        <p>{{this.userLogged.password}}</p>
                    </td>
                </tr>
                    <!-- <th scope="col">Tipo</th>
                    <td>
                        <p>{{userLogged[i].type}}</p>
                    </td>
                    <th scope="col">Nome</th>
                    <td>
                        <p>{{userLogged[i].name}}</p>
                    </td>
                    <th scope="col">Cognome</th>
                    <td>
                        <p>{{userLogged[i].surname}}</p>
                    </td>
                    <th scope="col">Sesso</th>
                    <td>
                        <p>{{userLogged[i].sesso}}</p>
                    </td>
                    <th scope="col">Data di nascita</th>
                    <td>
                        <p>{{userLogged[i].birthdate}}</p>
                    </td>
                    <th scope="col">Luogo di Nascita</th>
                    <td>
                        <p>{{userLogged[i].birth_place}}</p>
                    </td>
                    <th scope="col">Codice Fiscale</th>
                    <td>
                        <p>{{userLogged[i].codice_fiscale}}</p>
                    </td>
                    <th scope="col">Telefono</th>
                    <td>
                        <p>{{userLogged[i].telephone}}</p>
                    </td>
                    <th scope="col">Indirizzo</th>
                    <td>
                        <p>{{userLogged[i].address}}</p>
                    </td>
                    <th scope="col">Codice Postale</th>
                    <td>
                        <p>{{userLogged[i].zip}}</p>
                    </td>
                    <th scope="col">Nazione</th>
                    <td>
                        <p>{{userLogged[i].state}}</p>
                    </td>
                    <th scope="col">Regione</th>
                    <td>
                        <p>{{userLogged[i].region}}</p>
                    </td>
                    <th scope="col">Titolo di studio</th>
                    <td>
                        <p>{{userLogged[i].titolo_studio}}</p>
                    </td>
                    <th scope="col">Professione</th>
                    <td>
                        <p>{{userLogged[i].professione}}</p>
                    </td>
                    <th scope="col">Altezza</th>
                    <td>
                        <p>{{userLogged[i].altezza}}</p>
                    </td>
                    <th scope="col">Peso</th>
                    <td>
                        <p>{{userLogged[i].peso}}</p>
                    </td>
                </tr> -->
            </tbody>
        </table>
    </div>