<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/sources/car_family.jpg" class="d-block w-100" alt="...">

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Reale Mutua Assicurazioni</h1>
            <p>Costruendo ogni giorno il nostro domani. Insieme.</p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <img src="assets/sources/home2.jpg"  class="d-block w-100" alt="...">

        <div class="container">
          <div class="carousel-caption">
            <h1>Risparmia con noi</h1>
            <p>L'insieme di soluzioni flessibili studiate per far crescere il tuo capitale.</p>
            
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/sources/home3.jpg" class="d-block w-100" alt="...">

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>190 anni, un passo dopo l’altro</h1>
            <p>Proteggervi è nel nostro DNA. Da 190 anni.</p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container py-4">
    <div class="row align-items-md-stretch">
        <div class="col-md-6" id="tile_right">
            <div class="h-100 p-5 bg-light border rounded-3">
              <h2 style="color:rgb(24, 94, 148)"> Chi siamo</h2>
              <p>La Società Reale Mutua di Assicurazioni è la più grande Compagnia assicurativa italiana costituita in forma di mutua.</p>
              <button class="btn btn-outline-secondary" type="button" routerLink="/chisiamo">Scopri di più</button>
            </div>
          </div>
        <div class="col-md-6" id="tile_right">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h2 style="color:rgb(24, 94, 148)">Prodotti vita</h2>
            <p>La tua famiglia va protetta dai gravi eventi, quelli che cambiano la vita. Con la polizza Family Care tuteli la stabilità economica tua e dei tuoi cari, con lungimiranza.</p>
            <button type="button" class="btn btn-outline-secondary" routerLink="/prodottivita">Scopri di più</button>
          </div>
        </div>
      </div>
  </div>
  